/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;

}
body {
  margin-bottom: 60px; /* Height of the footer */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  color:white;
}


.er {
  color: red; /* Initial color when neon is fully lit */
  animation-name: neonFlicker;
  animation-duration: 4s; /* Longer duration for a slower, smoother flicker */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; /* Smoother transitions */
}


@keyframes neonFlicker {
  0% { opacity: 1; }
  10% { opacity: 0.3; }
  11% { opacity: 1; }
  12% { opacity: 0; }
  20% { opacity: 0.9; }
  28% { opacity: 1; }
  29% { opacity: 0.4; }
  37% { opacity: 1; }
  38% { opacity: 0; }
  100% { opacity: 1; }
}
.blinking {
  color: red;
  animation: neonFlicker 3s infinite;
}



